/node_modules
/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.cpcache
.idea
*.iml
.lein-*
.nrepl-*
.DS_Store
.calva
.cljs_node_repl

.hgignore
.hg/
.clj-kondo
.lsp
yarn.lock
