{:paths ["src"]

 :deps {reagent/reagent         {:mvn/version "1.1.0"}
        metosin/reitit          {:mvn/version "0.5.15"}
        metosin/reitit-frontend {:mvn/version "0.5.15"}
        metosin/reitit-spec     {:mvn/version "0.5.15"}

        lambdaisland/fetch          {:mvn/version "1.0.41"}
        kitchen-async/kitchen-async {:mvn/version "0.1.0-SNAPSHOT"}

        thheller/shadow-cljs                 {:mvn/version "2.16.12"}
        cider/cider-nrepl                    {:mvn/version "0.28.0"}
        refactor-nrepl/refactor-nrepl        {:mvn/version "3.2.0"}
        com.github.mainej/headlessui-reagent {:mvn/version "1.4.2.43"}}}
