{:paths ["src"]

 :deps {reagent/reagent           {:mvn/version "1.1.0"}
        metosin/reitit            {:mvn/version "0.5.15"}
        metosin/reitit-frontend   {:mvn/version "0.5.15"}
        metosin/reitit-spec       {:mvn/version "0.5.15"}

        lambdaisland/fetch          {:mvn/version "1.0.41"}
        kitchen-async/kitchen-async {:mvn/version "0.1.0-SNAPSHOT"}

        thheller/shadow-cljs          {:mvn/version "2.15.10"}
        cider/cider-nrepl             {:mvn/version "0.27.2"}
        refactor-nrepl/refactor-nrepl {:mvn/version "2.5.1"}
        com.github.mainej/headlessui-reagent {:mvn/version "1.4.1.40"}}
 ;; clojure -M:upgrade
 :aliases {:upgrade {:extra-deps {com.github.liquidz/antq {:mvn/version "1.1.0"}}
                      :main-opts  ["-m" "antq.core" "--upgrade"]}}}
