{:deps true

 :nrepl
 {:port  3333
  :nrepl {:middleware [refactor-nrepl.middleware/wrap-refactor]}}

 ;; :dev-http {4000 "public"}

 :builds
 {:app {:target     :browser
        :output-dir "public/js/compiled"
        :asset-path "/js/compiled"

        :compiler-options {:output-feature-set :es-next}

        :modules {:main {:init-fn app.core/init}}

        :devtools {:before-load app.core/stop
                   :after-load  app.core/start
                   :http-root   "public"
                   :http-port   3000
                   :preloads    [devtools.preload]}}}}
