:root {
	--bg-primary: white;
	--text-color: black;
	--hover-color: hsl(0, 0%, 30%);
	--bg-secondary: hsl(0, 0%, 80%);
	background-color: var(--bg-primary);
	color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-primary: black;
		--text-color: white;
		--hover-color: hsl(0, 0%, 80%);
		--bg-secondary: hsl(0, 0%, 20%);
	}
}

* {
	overflow-wrap: break-word;
}
