:root {
  --bg-primary: white;
  --text-color: black;
  --hover-color: hsl(0, 0%, 30%);
  --bg-secondary: hsl(0, 0%, 80%);
  background-color: var(--bg-primary);
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: black;
    --text-color: white;
    --hover-color: hsl(0, 0%, 80%);
    --bg-secondary: hsl(0, 0%, 20%);
  }
}

* {
  overflow-wrap: break-word;
}

article {
  /* max-width: 65ch; */
  * {
    margin: 1rem 0;
  }
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
